body{
    background-color: rgb(80, 76, 76);
}

.cabeca{
display: 	flex;
flex-direction: row;
background-color: rgb(0, 0, 0);
padding: 20px 50px;
gap: 90px;

}

.imag{
    width: 50px;
    height: 50px;
}

a{
text-decoration: none;
font: 400 13px 'google';
color: #ffffff;
}

.as{
    margin-top: 15px;
}

h1{
    margin-top: 20px;
    padding: 0px 50px;
}

.container{

display: flex;
background-color: rgb(77, 77, 77);
margin-top: 30px;
}

.container2{

    display: flex;
    background-color: rgb(77, 77, 77);
    margin-top: 30px;
}


.card{

display: flex;
flex-direction: column;
background-color: rgb(136, 15, 41);
width: 360px;
height: 540px;
gap: 10px;
margin-left: 50px;
align-items: center;
border: 10px solid rgb(100, 4, 4);
border-radius: 30px;
}

p{
    text-align: center;
}

.card a img{
width: 240px;
}